* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

body {
  text-align: center;
}
#hero h1 {
  color: #3F3D56;
  text-align: center;
  font-family: Dosis;
  font-size: 32px;
  font-weight: 500;
}
#hero {
  width: 626px;
  height: 486px;
  margin: auto;
  margin-top: 64px;
  margin-bottom: 64px;
}
#hero img {
  margin-bottom: 32px;
}
.titulo {
  color: #3f3d56;
}
.titulo span {
  font-family: Dosis;
  font-size: 32px;
  color: #ee24ff;
  font-weight: 700;
}
p,
#hero {
  color: #828282;
  font-size: 15px;
}
span {
  font-style: normal;
  font-weight: 700;
  color: #3f3d56;
}

#line {
  width: 568px;
  height: 0;
  margin: 0 auto 8px;
  border: 1px solid #eceff2;
}

#wave {
  margin-top: 72px;
  width: 100%;
  height: 104px;
}
.onda {
  width: 100%;
}

a {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  color: #3f3d56;
  text-decoration: none;
  margin-left: 42px;
  margin-top: 16px;
  margin-right: 42px;
}
